<mapper namespace="com.abdecd.moebackend.business.dao.mapper.FeedbackMapper">
    <select id="selectFeedbacks" resultType="com.abdecd.moebackend.business.pojo.vo.feedback.FeedbackVO">
        SELECT
        id, content, email, timestamp, status
        FROM
        feedback
        WHERE
        1=1
        <if test="email != null and email != ''">
            AND email = #{email}
        </if>
        <if test="content != null and content != ''">
            AND content LIKE CONCAT('%', #{content}, '%')
        </if>
        ORDER BY timestamp DESC
    </select>
</mapper>
