<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abdecd.moebackend.business.dao.mapper.VideoGroupMapper">

    <update id="update" parameterType="com.abdecd.moebackend.business.dao.entity.VideoGroup">
        UPDATE video_group
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="videoGroupStatus != null">
                status = #{videoGroupStatus},
            </if>
            id = #{id}
        </set>
        WHERE id = #{id}
    </update>

</mapper>